body{
    background-color: green;
}


header{
    background-image: url(fundo.jfif);
    display: flex;
    justify-content: center;
    font-size: 70px;
    height: 200px;
    text-align: center;
    margin-right: 10px;

}

#git{
    position: absolute;
    margin-left: 1200px;
    height: 100px;
    width: 100px;
}
nav{
    margin-top: 50px;
    color: red;
    font-family: fantasy;
    letter-spacing: 10px;
    font-size: 100px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    margin-top: 50px;
    font-size: 35px;
    color: yellow;
}

#Bebidas{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 80px;
    
}

#goro{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 60px;
}
p{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: -30px;
    font-weight: bolder;
    font-size: 30px;
    background-color: yellow;
    width: 600px;
    margin-left: 620px;
    border-radius: 50px;
}

section{
    margin-top: 80px;
}
img{
    height: 300px;
    width: 300px;
    border: 10px solid red;
    border-radius: 50%;
}